@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&family=Public+Sans:wght@100;300;400;600&display=swap');

body {
  background-color: rgb(210, 225, 248);
  font-family: "Public Sans", sans-serif;
  /* color: #6b728d; */
  overflow: hidden;
}

.light{
    transition: 1s;
    --background: rgba(210, 225, 248);
    /* --background : linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.6) 50%, rgba(255,255,255,.1) 100%); */
}
.dark{
    transition: 1s;
    --background: #121212;
}
a {
  color: #7a92fe;
}
a:hover {
  color: #fff;
}
.container {    
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.phone {
  background-color: var(--background);
  height: 632px;
  width: 360px;
  border-radius: 25px;
  box-shadow: rgba(104, 139, 255, 0.1) 0px 48px 100px 0px, rgba(17, 12, 46, 0.15) 0px 30px 100px 0px;
}
#top-menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: .1rem;
  color: #abb3c7;
}
#top-menu i {
  font-size:  1rem;
}
.song-cover {
  /* background-image: url(image/JKT48\ COLLAGE.png); */
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.thumbnail-border {
  height: 200px;
  width: 200px;
  margin: 14% auto 0 auto;
  border-radius: 50%;
  padding: .4rem;
 box-shadow: inset 6px 6px 20px 0 rgba(104, 139, 255, 0.2), rgba(104, 139, 255, 0.1) 0px 4px 20px, rgba(104, 139, 255, 0.1) 0px 8px 24px, rgba(102, 111, 128, 0.4) 0px 16px 45px;
}
.button {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow:  inset 3px 2px 5px 0 rgba(255,255,255, .5), rgba(104, 139, 255, 0.1) 7px 3px 10px, rgba(0,0,0, 0.1) 7px 5px 10px
}
.button:hover {
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #779bff;
  color: #fff;
}

.play-btn span{
    position: absolute;
    transform: translateY(-50%);
    border-radius: 15px;
    background: #6b728d;
    width: 8px;
    height: 24px;
    transition: .5s;
left: 46.77%;
}
.play-btn span:nth-child(2){
    left: 51.3%;
    transform-origin: center;
}
.play-btn.pause span:nth-child(2){
    transform: translateY(-50%) scaleX(0);
}
.play-btn.pause span:nth-child(1){
    width: 3px;
    padding: 10px;
    height: 12px;
    transform: translate( 25%, -50%);
    border-radius: 0px;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}


@keyframes pulse {
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px rgba(255,255,255, 0.1);
    }
    100%{
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    }
}


button{
    background: none;
    border: none;
    color: #6b728d;   
}

#mode{
    background-color: var(--background);
    border: none;
    color: #6b728d;
}
#song-details {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.song-title {
  text-align: center;
  font-size: 1.4rem;
}
.artist {
  font-size: .8rem;
  color:  #abb3c7;
}
#time-slider {
  margin: 11% 5%;
}
.slider-times {
  font-size: .6rem;
  display: flex;
  justify-content: space-between;
  color: #abb3c7;
}
input[type="range"]::-moz-range-progress {
  background-color: #779bff; 
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: transparent;
  outline: none;
  box-shadow: inset 2px 2px 2px 0 rgba(104, 139, 255, 0.2), inset 3px 3px 2px 0 rgba(50, 50, 50, 0.1), inset -45px -45px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.1);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  outline: none;
  border-radius: 50%;
  border: none;
  background: radial-gradient(circle at center, #779bff 0, #6381f9 20%, #d2e1f8 30%, #d2e1f8 70%, #fff 100%);
box-shadow: inset 2px 2px 2px 0 rgba(104, 139, 255, 0.1), rgba(0, 0, 0, 0.1) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.1) 0px 12px 20px;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: none;
  background: radial-gradient(circle at center, #779bff 0, #6381f9 20%, #d2e1f8 30%, #d2e1f8 50%, #fff 100%);
  box-shadow: inset 2px 2px 2px 0 rgba(104, 139, 255, 0.1), rgba(0, 0, 0, 0.1) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.1) 0px 12px 20px;
}
#song-controls {
  width: 60%;
  margin: 0% 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #abb3c7;
}
#song-controls .button {
  height: 65px;
  margin-left: -35px;
  width: 65px;
}
#credit {
  margin: 5% 0 0 0;
  font-size: .8em;
  line-height: 2rem;
}